@import "variables";

header {
  height: 77px;
  width: 100%;
  background: linear-gradient(
    269.91deg,
    rgba(46, 49, 146, 0.7) 0%,
    rgba(212, 20, 90, 0.7) 98.16%
  );
  display: flex;
  justify-content: center;

  a {
    font-size: 15px;
    line-height: 10px;
    color: #fff;
  }
}

.header__content {
  max-width: 1267px;
  margin: 0 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telephone-numbers {
  display: flex;
  height: 20px;
  align-items: center;
  width: 391px;
  justify-content: space-between;

  img {
    height: 20px;
    width: 20px;
  }
}

.gps {
  display: flex;
  align-items: center;
  height: 30px;
  max-width: 338px;
  width: 20%;

  a {
    padding-left: 8px;
  }

  img {
    width: 15px;
    height: 25px;
  }
}

.insta {
  display: flex;
  // width: 173px;
  height: 25px;
  align-items: center;

  img {
    display: flex;
    width: 30px;
    height: 28.3px;
  }

  a {
    padding-left: 15px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 768px) {
  .telephone-numbers {
    display: none;
  }

  .gps {
    width: auto;
  }
}

@media screen and (max-width: 520px) {
  .header__content {
    flex-direction: column;
  }

  .telephone-numbers {
    display: flex;
    flex-direction: column;
    height: 33px;
    width: 300px;
    margin-top: 5px;

    img {
      display: none;
    }

    a {
      font-size: 14px;
      line-height: 10px;
    }
  }

  .insta {
    display: none;
  }

  .gps {
    img {
      display: none;
    }
  }
}
